In [7]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is {}. Your age is {}".format(name, age))

What is your name? Omran
What is your age? 20
Your name is Omran. Your age is 20

In [8]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a == b:
  print('Equal')
else:
  print('Not equal')

Not equal

In [9]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a > b :
  print('Greater')
elif a == b:
  print('Equal')
else:
  print('Less')

Less

In [16]:
#Q4- Using for loop, print 1,2,3,4,5
n = 5
for k in range(1, n+1, 1):
  if k == n:
    print(k, end = '')
    break;
  print(k, end = ',')

1,2,3,4,5

In [20]:
#Q5-Using while loop, print 5,4,3,2,1

n = 5
while n > 0:
  if n == 1:
    print(n, end = '')
    break;
  print(n, end = ',')
  n-=1

5,4,3,2,1

In [22]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for i in range(10, 0-1, -2):
  if i != 8:
    print(i , end = ' ')

10 6 4 2 0

In [25]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(birthyear):
  birthyear = int(birthyear)
  return 2022 - birthyear
print(age(1944))

78

In [28]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x, y):
    return x - y
  def multiplication(x, y):
    return x * y
  def division (x, y):
    return x / y
  
print(arithmetic.addition(3,4))
print(arithmetic.substraction(3,4))
print(arithmetic.multiplication(3,4))
print(arithmetic.division(3,4))

7
-1
12
0.75

In [29]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def sum_number(n):
  n = int(n)
  sum_ = 0
  for i in range(n+1):
    sum_ += i
  return sum_

sum_number(3)

6

In [30]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 

import random 

list_ = []
for i in range(10):
  list_.append(random.random())

print(list_[:3])

[0.7024007072156302, 0.31232373818809034, 0.049559397270069416]

In [32]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1, n+1):
  if i % 3 == 0:
    print(i)

3
6
9
12
15